@font-face {
    font-family: 'fbold';
    src: url(fonts/FuturaCyrillicBold.woff);
}

@font-face {
    font-family: 'fitalic';
    src: url(fonts/Amiritalic.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.head {
    /* border: 3px solid salmon; */
    position: fixed;
    width: 100%;
    height: 150px;
    text-align: center;
    position: fixed;
    background:#876A5C;
    
}
.head .site-name {
    font-family: 'fbold';
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.5px #ffffff;

}
.head .slogan {
    font-family: 'fitalic';
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    text-transform: capitalize;
}
.search-box {
    /* border: 3px solid salmon; */
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 1%;
    

}
.search-box input {
    width: 70%;
    padding: 10px 10px;
    border-radius: 20px;
    background: #F5F0E6;
    
}
.search-box button {
    border: none;
    outline: none;
    background: none;
    width: 32px;
    height: 32px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 77%;
    background: #F5F0E6;
    justify-content: center;
    align-items: center;
    display: flex;


}

